<!DOCTYPE html>
<html>
  <head>
    <title>Express Authorization Example - User Page</title>
  </head>
  <body>
    <h1>User Page</h1>

    <p>sClick <a href="/logout">here to logout</a> or <a href="/">here to return to the home page</a>.
    </p>

    <form method="POST" action="/secure/user_page">
      <div>
        <label>Username</label>
        <input name="username" value="root"/>
      </div>
      <div>
        <label>noun</label>
        <input name="noun" value="user_page">
        <label>verbs</label>
        <input name="verbs" value="view,edit"/>
      </div>
      <input type="submit" value="Login" />
    </form>

  <table>
    <tbody>

      <tr>
        <th>resource / noun name</th><th>permission(s) / verb(s)</th>
      </tr>

      <%
      var permissions = user.permissions;
      for(var i=0; i<user.permissions.length; i++) { %>
      <tr>
        <td><%=user.permissions[i]%></td><td><%=user.permissions[i]%></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  </body>
</html>
